$drkBlue: hsl(216, 12%, 8%);
$blue: hsl(213, 19%, 18%);
$ltGrey: hsl(217, 12%, 63%);
$mdGrey: hsl(216, 12%, 54%);


*,*::after,*::before{ 
  margin: 0;
}

html, body{ 
  height: 100%;
  max-width:100%;
}

body{ 
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  font-family: 'Overpass', sans-serif;

}

//TYPOGRAPHY
h1{ 
  color:white;
  margin-bottom: 1em;
}

p{
  color:$ltGrey;
  font-size: 15px;
  font-weight: 400;
}

#component-container{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;

  background-color: $drkBlue;
  border-radius: 15px;
  padding: 1.5rem;
  
  height: 350px;
  width: 350px;
}

.star-icon{
  background-color: $blue;
  border-radius: 50%; 
  padding: 1em;

  height: 30px;
  width: 30px
}


.circle-container{ 
  display: flex;
  justify-content: space-between;
}

.circle{ 
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $blue;
  border-radius: 50%;
  padding: 1em;

  height: 30px;
  width: 30px

}