//VARIABLES
$drkBlue: hsl(216, 12%, 8%);
$blue: hsl(213, 19%, 18%);
$ltGrey: hsl(217, 12%, 63%);
$mdGrey: hsl(216, 12%, 54%);
$orange: hsl(25, 97%, 53%);

//SETUP
*,*::after,*::before{ 
  margin: 0;
}

html, body{ 
  height: 100%;
  max-width:100%;
}

body{ 
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  font-family: 'Overpass', sans-serif;
}

ul{
  padding:0;
}

//TYPOGRAPHY
h1{ 
  color:white;
  font-size: 2rem;
  margin-bottom: 1em;
}

p{
  color:$ltGrey;
  font-size: 15px;
  font-weight: 400;
}

button{ 
  background-color: $orange;
  color:white;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  border:none;
  border-radius: 15px;
  padding: 1em;
}

button:hover{
  background-color: white;
  color:$orange;
}

#component-container{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;

  background-color: $drkBlue;
  border-radius: 15px;
  padding: 1.5rem;
  
  height: 400px;
  width: 350px;
}


.circle-container{ 
  display: flex;
  justify-content: space-between;
}

.circle-container .circle:hover{
  background-color: $ltGrey;
  color:white;
}

.circle{ 
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $blue;
  border-radius: 50%;
  color: $mdGrey;
  padding: 1em;

  height: 20px;
  width: 20px
}